<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Application Language Setting' | translate}}</legend>
    <!-- <div class="formData"> -->
    <form [formGroup]="applanguagesettingForm" (ngSubmit)="onUserClick($event, applanguagesettingForm, f)" #f="ngForm">

        <mat-form-field appearance="outline">
            <mat-label class="font"> {{'Name' | translate}} </mat-label>
                <input class="material" formControlName="name" matInput class="mat" />
                <mat-error
                    *ngIf="submitted && applanguagesettingForm.controls['name'].hasError('required') && applanguagesettingForm.controls['name'].touched">
                   {{' Name is required' | translate}}
                </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;

        <!-- <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input class="form-control" path="id" type="hidden" />
                        <label path="description" for="description" cssClass="required">{{'Description'|translate}}</label>
                        <input formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required"> {{'Description is required'|translate}}</div>
                        </div>
                    </div>
                </div>  -->

        <mat-form-field appearance="outline">
            <mat-label class="font">{{'Description' | translate }}</mat-label>
                <input class="material" formControlName="description" matInput class="mat" />
                <mat-error
                    *ngIf="submitted && applanguagesettingForm.controls['description'].hasError('required') && applanguagesettingForm.controls['description'].touched">
                    {{'Description is Required' | translate }}
                </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;


        <!-- <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input class="form-control" path="id" type="hidden" />
                        <label path="status" for="status" cssClass="required">{{'Status'|translate}}</label>
                        <input formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">{{'Status is required'|translate}}</div>
                        </div>
                    </div>
                </div>  -->

        <mat-form-field appearance="outline">
            <mat-label class="font"> {{'Status' | translate }}</mat-label>
                <input class="material" formControlName="status" matInput class="mat" />
                <mat-error
                    *ngIf="submitted && applanguagesettingForm.controls['status'].hasError('required') && applanguagesettingForm.controls['status'].touched">
                    {{'Status is Required' | translate }}
                </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <br>
        <button mat-button type="button" class="material-btn mr-2" (click)="onReset(f)">{{' Clear' | translate }}</button>
        <button mat-button type="submit" class="material-btn mr-2">{{' Submit' | translate }}</button>

    </form>
    <!-- </div> -->

</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Status Details'| translate }}</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>