<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Registration' | translate}}</legend>
    <form [formGroup]="registerForm" (ngSubmit)="onUserClick($event, registerForm,f)" #f="ngForm">
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'First Name' | translate}}</mat-label>
            <input class="material" formControlName="firstname" matInput class="mat">
            <mat-error
                *ngIf="submitted && registerForm.controls['firstname'].hasError('required') && registerForm.controls['firstname'].touched">
                {{'FirstName is required' | translate}}
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'Last Name' | translate}}</mat-label>
            <input class="material" formControlName="lastname" matInput class="mat">
            <mat-error
                *ngIf="submitted && registerForm.controls['lastname'].hasError('required') && registerForm.controls['lastname'].touched">
               {{' Last Name is required' | translate}}
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'User Name' | translate}}</mat-label>
            <input class="material" formControlName="username" matInput class="mat">
            <mat-error
                *ngIf="submitted && registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">
                {{'User Name is required' | translate}}
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'Role Type' | translate}}</mat-label>
            <mat-select formControlName="rolename" class="mat">
                <mat-option>- {{'Select the Machine' | translate}} - </mat-option>
                <mat-option value="Admin">{{'Admin' | translate}}</mat-option>
                <mat-option value="User">{{'User' | translate}}</mat-option>
            </mat-select>
            <mat-error
                *ngIf="submitted && registerForm.controls['rolename'].hasError('required') && registerForm.controls['rolename'].touched">
                {{'Role Type is required' | translate}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'Status' | translate}}</mat-label>
            <mat-select formControlName="status" class="mat">
                <mat-option>- {{'Select the Machine' | translate}} - </mat-option>
                <mat-option value="A">A</mat-option>
                <mat-option value="B">B</mat-option>
                <mat-option value="C">C</mat-option>
            </mat-select>
            <mat-error
                *ngIf="submitted && registerForm.controls['status'].hasError('required') && registerForm.controls['status'].touched">
               {{' Status is required' | translate}}
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'Mobile Number' | translate}}</mat-label>
            <input matInput formControlName="mobileno" class="mat" maxlength="10">
            <mat-error
                *ngIf="registerForm.controls['mobileno'].hasError('required') && registerForm.controls['mobileno'].touched">
               {{' Mobile Number is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['mobileno'].hasError('pattern') && registerForm.controls['mobileno'].touched">
                {{'Mobile Number is Invalid' | translate}}
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">{{'Email' | translate}}</mat-label>
            <input matInput formControlName="email" class="mat">
            <mat-error
                *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
               {{' Email is required' | translate}}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched">
               {{' Email is Invalid' | translate}}
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-button type="button" class="material-btn mr-2" (click)="onReset(f)">{{'Clear' | translate}}</button>
        <button mat-button type="submit" class="material-btn mr-2">{{'Submit' | translate}}</button>
    </form>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'RegistredDetails' | translate}}</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>