<fieldset class="scheduler-border">
    <legend class="scheduler-border">Registration</legend>
    <form [formGroup]="registerForm" (ngSubmit)="onUserClick($event, registerForm,f)" #f="ngForm">
        <mat-form-field appearance="outline">
            <mat-label class="font">FirstName</mat-label>
            <input class="material" formControlName="firstname" matInput class="mat">
            <mat-error
                *ngIf="submitted && registerForm.controls['firstname'].hasError('required') && registerForm.controls['firstname'].touched">
                FirstName is required.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">LastName</mat-label>
            <input class="material" formControlName="lastname" matInput class="mat">
            <mat-error
                *ngIf="submitted && registerForm.controls['lastname'].hasError('required') && registerForm.controls['lastname'].touched">
                LastName is required.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">UserName</mat-label>
            <input class="material" formControlName="username" matInput class="mat">
            <mat-error
                *ngIf="submitted && registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">
                UserName is required.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">Role Type</mat-label>
            <mat-select formControlName="rolename" class="mat">
                <mat-option>- Select the Machine - </mat-option>
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="User">User</mat-option>
            </mat-select>
            <mat-error
                *ngIf="submitted && registerForm.controls['rolename'].hasError('required') && registerForm.controls['rolename'].touched">
                Role Type is required.
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label class="font">Status</mat-label>
            <mat-select formControlName="status" class="mat">
                <mat-option>- Select the Machine - </mat-option>
                <mat-option value="A">A</mat-option>
                <mat-option value="B">B</mat-option>
                <mat-option value="C">C</mat-option>
            </mat-select>
            <mat-error
                *ngIf="submitted && registerForm.controls['status'].hasError('required') && registerForm.controls['status'].touched">
                Status is required.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">Mobile Number</mat-label>
            <input matInput formControlName="mobileno" class="mat" maxlength="10">
            <mat-error
                *ngIf="registerForm.controls['mobileno'].hasError('required') && registerForm.controls['mobileno'].touched">
                Mobile Number is required.
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['mobileno'].hasError('pattern') && registerForm.controls['mobileno'].touched">
                Mobile Number is Invalid.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">Email</mat-label>
            <input matInput formControlName="email" class="mat">
            <mat-error
                *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
                Email is required.
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched">
                Email is Invalid.
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-button type="button" class="material-btn mr-2" (click)="onReset(f)">Clear</button>
        <button mat-button type="submit" class="material-btn mr-2">Submit</button>
    </form>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">RegistredDetails</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>