<fieldset class="scheduler-border">
    <legend class="scheduler-border">Executive Master</legend>
    <form [formGroup]="machineForm" (ngSubmit)="onUserClick($event, machineForm,f)" #f="ngForm">
        <mat-form-field appearance="outline">
            <mat-label class="font">Executive Name</mat-label>
            <input class="mat" formControlName="machinename" matInput>
            <mat-error
                *ngIf="submitted && machineForm.controls['machinename'].invalid && machineForm.controls['machinename'].touched">
                Executive is required.
            </mat-error>
        </mat-form-field><br>
        <label style="margin-top: 5px;">Status :
        </label>
        <br>
        <mat-slide-toggle formControlName="status"></mat-slide-toggle>

        <br>
        <button mat-button type="button" class="material-btn mr-2" (click)="onReset(f)">Clear</button>
        <button mat-button type="submit" class="material-btn mr-2">Submit</button>

    </form>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Executive Master</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>