<fieldset class="scheduler-border">
    <legend class="scheduler-border">Employee Master</legend>
    <form [formGroup]="employeeForm" (ngSubmit)="onOrderClick($event, employeeForm,f)" #f="ngForm">
        <mat-form-field appearance="outline">
            <mat-label class="font">Employee Name</mat-label>
            <input class="mat" formControlName="employeename" matInput>
            <mat-error
                *ngIf="submitted && employeeForm.controls['employeename'].invalid && employeeForm.controls['employeename'].touched">
                Employee Name is required.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">Mobile Number</mat-label>
            <input class="mat" formControlName="mobilenumber" matInput maxlength="10">
            <mat-error
                *ngIf="employeeForm.controls['mobilenumber'].hasError('required') && employeeForm.controls['mobilenumber'].touched">
                Mobile Number is required.
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['mobilenumber'].hasError('pattern') && employeeForm.controls['mobilenumber'].touched">
                Mobile Number is Invalid.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-form-field appearance="outline">
            <mat-label class="font">Email ID</mat-label>
            <input class="mat" formControlName="emailid" matInput>
            <mat-error
                *ngIf="employeeForm.controls['emailid'].hasError('required') && employeeForm.controls['emailid'].touched">
                Email is required.
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['emailid'].hasError('email') && employeeForm.controls['emailid'].touched">
                Email is Invalid.
            </mat-error>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <br>
        <label>Status :
        </label>
        <br>
        <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>

        <br>
        <button mat-button type="button" (click)="onReset(f)" class="material-btn mr-2">Clear</button>
        <button mat-button type="submit" class="material-btn mr-2">Submit</button>
    </form>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Employee Master</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>