.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 51%;
}

.material-btn {
  float: right !important;
  background: var(--color_l1) !important;
  color: #ffff;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color_l1) !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(33, 88, 199, 0.596);
}