.h2 {
  font-size: 22px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.is-active {
  color: orange !important;
  font-weight: bold !important;
}


.logo img {
  width: 24px;
  height: 24px;
  background: none !important;
  margin-left: 7px;
  margin-bottom: 4px;
  opacity: 1 !important;
}

.pull-right img {
  width: 24px;
  height: 24px;
  background: none !important;
  margin-left: 7px;
  margin-bottom: 4px;

  opacity: 1 !important;
}

.mat-list-item {
  color: #ffff;
  font-size: 13px;
}

.mat-head {
  vertical-align: middle;
  padding: 0 8px;
  margin: 14px 0;
  font-size: 11px;
  cursor: pointer;
}

.head-img {
  margin-top: 2px;
}

@media (max-width:768px) {
  .mat-nav {
    display: none !important;
  }
}