<div [@.disabled]="temporaryDisabled">
    <div class="header-container">
        <!-- <input type="checkbox" id="menu"> -->
        <div class="header col-sm-12 col-md-12 col-lg-12 padding">
            <div class="col-md-5 col-lg-7 logo">
                <h2 class="h2">
                    <!-- <label for="menu" class="menu-bar is-active"> -->
                    <i class="fa fa-bars" [ngClass]="isOpen ? 'rerotation' : 'rotation'" style="margin-left: 10px"
                        (click)="clickMenu()"></i>
                    <img src="../../../assets/images/favicon.ico" />
                    <!-- <img src="{{downloadUrl}}"> -->
                    <!-- </label> -->
                    <span routerLink="/app-dash-board" style="margin-left: -6px">
                        <i aria-hidden="true"></i>&nbsp; QUALITY MATRIX
                    </span>
                </h2>
            </div>

            <div class="mat-nav">
                <mat-nav-list class="setting-menu-list pull-right mat-head">
                    <a (click)="submit()" [ngClass]="
                                parentMenuString == 'Logout' ? 'is-actived' : ''
                            " (click)="onMenuParentClick('Logout', 'Logout')">
                        <i class="fa fa-sign-out color" aria-hidden="true" title="Logout"></i></a>
                    <!-- <mat-icon aria-hidden="true" title="Logout" style="margin-top: 2px;">logout</mat-icon></a> -->
                </mat-nav-list>
                <mat-nav-list class="setting-menu-list pull-right mat-head" *ngIf="role == 'Admin'">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        style="color: white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        class="bttn">
                        <i class="fa fa-cog" [ngClass]="
                                        parentMenuString == 'Setting'
                                            ? 'is-active'
                                            : ''
                                    " aria-hidden="true" title="More options"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                        <mat-nav-list routerLink="./app-setting/app-profile/app-registration">
                            <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                                childMenuString == 'Profile'
                                                    ? 'is-active'
                                                    : ''
                                            " (click)="
                                                onMenuChildClick(
                                                    'Setting',
                                                    'Profile'
                                                )
                                            ">Profile</a>
                        </mat-nav-list>
                    </ul>

                </mat-nav-list>
                <mat-nav-list class="setting-menu-list pull-right mat-head">
                    <a><i class="fa fa-paint-brush" style="color: white" aria-hidden="true" [(colorPicker)]="themes"
                            [cpOKButton]="true" [cpOKButtonClass]="' btn-primary btn-xs button'"
                            [cpOKButtonText]="'Reset'" [cpCancelButton]="true"
                            [cpCancelButtonClass]="'btn-primary btn-xs'" [cpCancelButtonText]="'Cancel'"
                            [cpSaveClickOutside]="false" [cpCloseClickOutside]="false" [cpPresetColors]="[
                            '#9400D3',
                            '#0000FF',
                            '#00FF00',
                            '#FFFF00',
                            '#FF7F00',
                            '#FF0000'
                        ]" [cpPositionRelativeToArrow]="true" [cpPosition]="'left'" [cpPositionOffset]="'80%'"
                            [cpAlphaChannel]="'disabled'" [cpDisableInput]="false" [cpOutputFormat]="'hex'"
                            [cpWidth]="'270px'" [cpHeight]="'390px'" (cpSliderChange)="colorPicker($event)"
                            (colorPickerSelect)="defaultColor()"></i></a>
                </mat-nav-list>
                <mat-nav-list class="setting-menu-list pull-right" style="margin-top: 2px;">
                    <img src="../../../assets/images/avatar 7.png" />
                    <!-- <img src="{{downloadUrl}}"> -->
                </mat-nav-list>
                <mat-nav-list class="setting-menu-list pull-right mat-head">
                    {{'Welcome'}} {{ user?.firstname | titlecase }} {{ user?.lastname | titlecase }}
                </mat-nav-list>
            </div>
        </div>
    </div>
</div>